
body{
    font-family: "Signika";
}
#home{
    /* background-color: #ff4c68; */
    background-color: #005a8d;
    
}
#home h1{
    color: #faf1e6;
}
#home button
{
    margin-top: 5%;
    margin-right: 4%;
}
#home img
{
    margin-left: 50px;
    border-radius: 10px;
    margin-bottom: 55px;
    /* transform: rotate(5deg); */
}
#home img:hover:before {
    transform: scale(1.1);
    box-shadow: 0 0 25px #faf1e6;
}
#home img:hover {
    color: #faf1e6;
    box-shadow: 0 0 15px #faf1e6;
    text-shadow: 0 0 15px #faf1e6;
  }
.container-fluid{
    padding: 2% 8%;
}
.navbar_d{
padding: 0% 1%;
}
.navbar-light
{
    color:#faf1e6 ;
}
.navbar-brand:hover {
    transform: scale(1.1);
  }
.nav-item:hover {
    transform: scale(1.1);
    border-bottom: #faf1e6 1px solid;
    transition: .5s;
  }
.bt-design:hover {
    transform: scale(1.1);
  }


#home h1{
    font-family: "Signika";
    font-size: 4rem;
    line-height:1.5;
    
}
#home p
{
    font-size: 1.5rem;
}
/* Navbar Design */
.nav-link{
    font-size: 1.5rem;
    font-weight: lighter;
}
.navbar
{
    padding: 0%;
}
.nav-item
{
    padding: 0 18px;
}
.quality-design
{
    font-size: 2rem;
}

.navbar-brand
{
    font-family: "Cinzel Decorative";
    font-size: 3rem;
    font-weight: bolder;
}
.Qualities_Design
{
    padding-left: 35px;
    padding-right: 35px;
    padding-top:85px;
    padding-bottom:85px;
    text-align: center;
}
.Qualities_Design:hover {
    transform: scale(1.1);
  }
.p_icon{
    color: #7298ad;
    
}
.p_icon:hover{
    color: #005a8d;
}
.p_text{
    color: grey;
    font-size: 1.1rem;
}

/* Testimonials Section For PC */

#Testimonials  
{
    padding: 7% 8%;
    background-color: #0a81ab;
    color: #fff;
    text-align: center;
}

#Testimonials h3{
    font-size: 2rem;
    line-height: 2;
    padding: 5px;

}
.testimonial-img
{
    width: 15%;
    margin: 20px;
}
.testimonial-img-web
{
    width: 10%;
    margin: 20px;
}
.div-design-testimonial
{
    padding-left:25px;
    padding-right: 25px;
}

@media only screen and (max-width: 600px){
    #Testimonials
    {
        padding-top: 25%;
        padding-bottom: 20%;
        padding-left: 0px;
        padding-right: 0px;
        background-color: #0a81ab;
        color: #fff;
        text-align: center;
        margin: 0%;
    }
    #Testimonials h3{
        font-size: 1.2rem;
        line-height: 2;
        padding: 1px;
    }
    .testimonial-img
    {
        width: 10%;
        margin: 20px;
    }
    .testimonial-img-web
    {
        width: 8%;
        margin: 20px;
    }
    .div-design-testimonial
    {
        padding-left:1px;padding-right: 1px;
    }
}


.projects
{
    color: #ff7b54;
}


/* ##########COMPANIES############ */
#Companies
{
    background-color: #0a81ab;
    color: #fff;
    padding: 5% 5%;
    margin-top: 0%;
    text-align: center;
}
.company-logo
{
    
    width: 20%;
    padding: 20px;
    margin: 2px;
    
}
@media only screen and (max-width: 600px)
{
    .company-logo
    {
    
        width: 40%;
        padding: 20px;
        margin: 2px;
    }
}
.company-logo:hover
{
    transform: scale(1.1);
    transition: .5s;
}
.company-p{ 
    
    /* background-color: #faf1e6; */
    width: fit-content;
    padding: 2px;
    border-radius: 3px; 
    font-size: 2rem;
    color: #FFF;
}